{%- if enable_social -%}
	{%- assign social_icons = false -%}
	{%- if
	  settings.social_twitter_link != blank
	  or settings.social_facebook_link != blank
	  or settings.social_pinterest_link != blank
	  or settings.social_instagram_link != blank
	  or settings.social_tumblr_link != blank
	  or settings.social_snapchat_link != blank
	  or settings.social_youtube_link != blank
	  or settings.social_vimeo_link != blank
	-%}
	  {%- assign social_icons = true -%}
	{%- endif -%}
	{%- if template.name == 'article' or template.name == 'blog' -%}
		{%- if block.settings.enable_rss -%}
			{%- assign social_icons = true -%}
		{%- endif -%}
	{%- endif -%}
	{%- if social_icons -%}
  	<div class="col-xs-12 no-gutter footer__social-icons">
  		<ul class="list--inline social-icons{% if show_network_name %} social-icons--network{% endif %}"{% unless has_content %} style="margin-top:0;"{% endunless %}>
        {% if settings.social_facebook_link != blank %}
          <li>
            <a class="social-icons__link{% if show_network_name %} social-icons__links-network{% endif %} flex flex-align-ver" href="{{ settings.social_facebook_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}" target="_blank">
              {% render 'icon-facebook' %}
              {%- if show_network_name -%}<span class="socical-icons__name">{{ 'general.social.facebook' | t }}</span>{%- endif -%}
            </a>
          </li>
        {% endif %}
        {%- comment -%}
          TODO: add check when theme creator will add tiktok into default settings_data.json file
        {%- endcomment -%} 
        {%- comment -%}
          <li>
            <a class="social-icons__link tiktok-link flex flex-align-ver" href="https://tiktok.com/@mindfulsouls" title="TikTok" target="_blank">
              {% render 'icon-tiktok' %}
            </a>
          </li>
        {%- endcomment -%} 
        {% if settings.social_twitter_link != blank %}
          <li>
            <a class="social-icons__link{% if show_network_name %} social-icons__links-network{% endif %} flex flex-align-ver" href="{{ settings.social_twitter_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}" target="_blank">
              {% render 'icon-twitter' %}
              {%- if show_network_name -%}<span class="socical-icons__name">{{ 'general.social.twitter' | t }}</span>{%- endif -%}
            </a>
          </li>
        {% endif %}
        {% if settings.social_pinterest_link != blank %}
          <li>
            <a class="social-icons__link{% if show_network_name %} social-icons__links-network{% endif %} flex flex-align-ver" href="{{ settings.social_pinterest_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}" target="_blank">
              {% render 'icon-pinterest' %}
              {%- if show_network_name -%}<span class="socical-icons__name">{{ 'general.social.pinterest' | t }}</span>{%- endif -%}
            </a>
          </li>
        {% endif %}
        {% if settings.social_instagram_link != blank %}
          <li>
            <a class="social-icons__link{% if show_network_name %} social-icons__links-network{% endif %} flex flex-align-ver" href="{{ settings.social_instagram_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}" target="_blank">
              {% render 'icon-instagram' %}
              {%- if show_network_name -%}<span class="socical-icons__name">{{ 'general.social.instagram' | t }}</span>{%- endif -%}
            </a>
          </li>
        {% endif %}
        {% if settings.social_tumblr_link != blank %}
          <li>
            <a class="social-icons__link{% if show_network_name %} social-icons__links-network{% endif %} flex flex-align-ver" href="{{ settings.social_tumblr_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}" target="_blank">
              {% render 'icon-tumblr' %}
              {%- if show_network_name -%}<span class="socical-icons__name">{{ 'general.social.tumblr' | t }}</span>{%- endif -%}
            </a>
          </li>
        {% endif %}
        {% if settings.social_snapchat_link != blank %}
          <li>
            <a class="social-icons__link{% if show_network_name %} social-icons__links-network{% endif %} flex flex-align-ver" href="{{ settings.social_snapchat_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}" target="_blank">
              {% render 'icon-snapchat' %}
              {%- if show_network_name -%}<span class="socical-icons__name">{{ 'general.social.snapchat' | t }}</span>{%- endif -%}
            </a>
          </li>
        {% endif %}
        {% if settings.social_youtube_link != blank %}
          <li>
            <a class="social-icons__link{% if show_network_name %} social-icons__links-network{% endif %} flex flex-align-ver" href="{{ settings.social_youtube_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}" target="_blank">
              {% render 'icon-youtube' with style: 'vertical-align:middle;' %}
              {%- if show_network_name -%}<span class="socical-icons__name">{{ 'general.social.youtube' | t }}</span>{%- endif -%}
            </a>
          </li>
        {% endif %}
        {% if settings.social_vimeo_link != blank %}
          <li>
            <a class="social-icons__link{% if show_network_name %} social-icons__links-network{% endif %} flex flex-align-ver" href="{{ settings.social_vimeo_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}" target="_blank">
              {% render 'icon-vimeo' %}
              {%- if show_network_name -%}<span class="socical-icons__name">{{ 'general.social.vimeo' | t }}</span>{%- endif -%}
            </a>
          </li>
        {% endif %}
        {% if template.name == 'blog' or template.name == 'article' %}
        	{%- if block.settings.enable_rss -%}
          <li>
            <a class="social-icons__link{% if show_network_name %} social-icons__links-network{% endif %} flex flex-align-ver" href="{{ shop.url }}{{ blog.url }}.atom">
              {% render 'icon-rss' %}
              {%- if show_network_name -%}<span class="socical-icons__name">{{ 'general.social.rss' | t }}</span>{%- endif -%}
            </a>
          </li>
          {%- endif -%}
        {% endif %}
      </ul>
  	</div>
  {%- endif -%}
{%- endif -%}