<div class="container{% if settings.header_wide_display %}-fluid{% endif %}">
	<div class="row{% if settings.use_sticky %} hide-in-sticky{% endif %} gutter-top">
		<div class="flex flex-align-ver">
			<div class="col-xs-5">
				<div class="header__top flex">
					{%- if settings.enable_compare -%}
						<a href="javascript:void(0);" class="header__link header__link--left header__link--compare header__top__ele flex flex-align-ver" title="{{ 'general.accessibility.your_compare' | t | escape }}">
							<span class="compare-number compare-number--header fw-bold"></span>
							{{ 'general.accessibility.your_compare' | t }}
							{%- render 'icon-compare' -%}
						</a>
					{%- endif -%}
					{%- if settings.enable_wishlist -%}
						{%- unless settings.wishlist_type == 'growave' and settings.enable_growave -%}
              <a href="javascript:void(0);" class="header__link header__link--left header__link--wishlist header__top__ele flex flex-align-ver" title="{{ 'general.accessibility.your_wishlist' | t | escape }}">
              	<span class="wishlist-number wishlist-number--header fw-bold"></span>
								<span>{{ 'general.accessibility.your_wishlist' | t | escape }}</span>
								{%- render 'icon-wishlist' -%}
              </a> 
            {%- else -%}
              <a href="{{ root_url }}pages/wishlist" class="header__link header__link--left header__top__ele flex flex-align-ver" title="{{ 'collections.product_item.wishlist' | t | escape }}">
              	<span class="ssw-counter-fave-menu wishlist-number wishlist-number--header fw-bold" style="display:none;">0</span>
								<span>{{ 'general.accessibility.your_wishlist' | t | escape }}</span>
								{%- render 'icon-wishlist' -%}
              </a>
            {%- endunless -%}
					{%- endif -%}
					{%- render 'currency-switcher', add_wrap_classes: 'header__top__ele', data_group: 'header__links' -%}
				</div>
			</div>
			<div class="col-xs-2 text-center">
				{% render 'header__logo' %}
			</div>
			<div class="col-xs-5">
				<div class="header__top flex header__top--right">
					{%- render 'language-picker', data_group: 'header__links', show_language_icon: false, hide_language_code: false, wrap_class: 'header__top__ele flex flex-align-ver', flex_trigger: true, no_full_height: true, addition_classes: 'header__link header__link--right header__right--ver', dropdown_class: 'bt-dropdown__content--auto-center' -%}
					{%- if shop.customer_accounts_enabled -%}
						{% unless use_growave_account_app %}
              <div class="bt-dropdown header__top__ele flex flex-align-ver{% if customer %} por{% endif %}" data-group="header__links">
								{%- if customer -%}
									<a class="bt-dropdown__trigger header__link header__link--right header__right--ver flex flex-align-ver" title="{{ 'customer.account.title' | t | escape }}" href="{{ routes.account_url }}">
										{%- render 'icon-account' -%}
										{{ 'customer.account.title' | t }}
									</a>
									<div class="bt-dropdown__content bt-dropdown__content--auto-center" style="white-space:nowrap;min-width:auto;">
										<a href="{{ routes.account_url }}" title="{{ 'customer.account.title' | t | escape }}" class="db w100 gutter-ele-top gutter-ele-bottom">
											{% render 'icon-account' %}&nbsp;<span>{{ 'customer.account.title' | t }}</span>
										</a>
										<a href="{{ routes.account_logout_url }}" title="{{ 'layout.customer.log_out' | t | escape }}" class="db w100 gutter-ele-top gutter-ele-bottom">
											{%- render 'icon-sign-out' -%}&nbsp;<span>{{ 'layout.customer.log_out' | t }}</span>
										</a>
									</div>
								{%- else -%}
									<a class="bt-dropdown__trigger header__link header__link--right header__right--ver flex flex-align-ver" title="{{ 'customer.login.title' | t | escape }}" href="{{ routes.account_login_url }}">
										{%- render 'icon-account' -%}
										{{ 'customer.login.title' | t }}
									</a>
									<div class="bt-dropdown__content bt-dropdown__content--right bt-dropdown__content--right-fluid">
										{%- render 'login-form-header', id: 'customer_login_header', suffix_id_field: 'Header', left_holder: left_holder, right_holder: right_holder -%}
									</div>
								{%- endif -%}
							</div>
            {% else %}
              <div id="ssw-topauth" class="ssw-topauth header__top__ele flex flex-align-ver{% if customer %} por{% endif %}" style="display:flex;">
                {% if customer %}
	                <div class="ssw-tprofile ssw-dropdown">
	                  <a class="ssw-dropdown-toggle header__link header__link--right header__right--ver" data-toggle="ssw-dropdown" href="javascript:void(0);">
	                    <i class="ssw-icon-user"></i>
	                    {{ customer.first_name }}
	                    {% if customer.last_name != 'Unknown' %}
	                    {{ customer.last_name | slice:0 | upcase }}.
	                    {% endif %}
	                    <i class="ssw-icon-down-open-big"></i>
	                  </a>
	                  <ul class="ssw-dropdown-menu" role="menu" aria-labelledby="dLabel">
	                    <li id="customer_myorders_li"><a tabindex="-1" href="{{ root_url }}account">{{ 'socialshopwave.my_orders' | t }}</a></li>
	                    {% render 'ssw-widget-dropdown' %}
	                    <li class="ssw-divider"></li>
	                    <li><a id="customer_logout_link" tabindex="-1" href="{{ root_url }}account/logout">{{ 'socialshopwave.logout' | t }}</a></li>
	                  </ul>
	                </div>
                {% else %}
                	<a id="customer_login_link" class="header__link header__link--right header__right--ver" href="#" onclick="event.preventDefault()" data-toggle="ssw-modal" data-target="#login_modal" onclick="trackShopStats('login_popup_view', 'all')">{{ 'socialshopwave.log_in' | t }}</a>
                {% endif %}
              </div>
            {% endunless %}
					{%- endif -%}
					{%- render 'header-cart', data_group: 'header__links', cart_dropdown_direction: 'bt-dropdown__content--right bt-dropdown__content--right-fluid', header_custom_class: 'header__top__ele flex flex-align-ver', show_cart_text: true, addition_classes: 'header__right--ver flex flex-align-ver', no_flex: true, no_full_height: true -%}
					<a href="{{ routes.search_url }}" class="header__search lh1 header__top__ele search-full-trigger" title="{{ 'general.search.placeholder' | t | escape }}">
						{% render 'icon-search' %}
					</a>
				</div>	
			</div>
		</div>
	</div>
	<div class="row header__wrap{% if settings.use_sticky %} use-sticky--desktop{% endif %}">
		<div class="col-xs-12">
			{% section 'navigation' %}
		</div>
	</div>
</div>