{%- form 'product', product, data-productid: product.id, class:form_classes, novalidate: 'novalidate' -%}
<!-- Begin ReCharge code -->
{% if product.available %}{% render 'subscription-product' with product as product %}{% endif %}
<!-- End ReCharge code -->

{%- render 'product-single-customizable-fields' -%}
<div class="product-form__item product-form__item--quantity{% if align_center_button %} center-block text-center{% endif %} gutter-ele-top gutter-ele-bottom flex{% if inline_button %} product-form__item--inline{% endif %}">
  {%- if section.settings.show_quantity_selector -%}
  <div class="qty-box qty-box--single flex flex-align-ver flex-align-space-between{% if full_qty_box %} qty-box--single-full{% endif %}">
    <a href="#" class="qty-box__ctrl qty-box__ctrl--descrease flex flex-align-hoz flex-align-ver" aria-label="button">
      {%- render 'icon-minus' -%}
    </a>
    <input type="number" name="quantity" value="1" min="1" class="qty-box__input w100{% if template.suffix != 'quick_view' %} qty-box__input--sync{% endif %} text-center h100 qty-box__input--single" aria-label="form" style="font-size:20px;">
    <a href="#" class="qty-box__ctrl qty-box__ctrl--increase flex flex-align-hoz flex-align-ver" aria-label="button">
      {%- render 'icon-plus' -%}
    </a>
  </div>
  {%- endif -%}
  {%- if current_variant.available -%}
    {%- unless settings.pre_order_enable and product.first_available_variant.inventory_policy == 'continue' and product.first_available_variant.inventory_quantity <= 0 -%}
      {%- assign cart_text = 'products.product.add_to_cart' | t -%}
    {%- else -%}
      {%- assign cart_text = 'products.product.pre_order' | t -%}
    {%- endunless -%}
  {%- else -%}
    {%- assign cart_text = 'products.product.sold_out' | t -%}  
  {%- endif -%}
  <button class="button button--one-line add-cart-btn button--single-cart button--cart flex flex-align-ver flex-align-hoz add-cart-btn--state por button--single-cart-main button--single{% unless current_variant.available %} soldout{% endunless %}" type="submit" name="add" title="{{ 'products.product.add_to_cart' | t | escape }}" aria-label="button"{% unless current_variant.available %} disabled="disabled"{% endunless %}>
    {%- render 'icon-cart' -%}
    <span>{{ cart_text }} - {{ product.price | money }}</span>
  </button>
</div>
{%- assign has_compare_btn = false -%}
{%- assign has_wishlist_btn = false -%}
{%- if section.settings.show_compare_btn and settings.enable_compare -%}
  {%- assign has_compare_btn = true -%}
{%- endif -%}
{%- if section.settings.show_wishlist_btn and settings.enable_wishlist -%}
  {%- assign has_wishlist_btn = true -%}
{%- endif -%}
{%- if template.suffix != 'quick_view' -%}
  {% if section.settings.enable_payment_button %}
  <div class="shopify-payment-btn-wrap gutter-ele-top{% if inline_button %} flex-grow-1{% else %} w100{% endif %}">
    {{ form | payment_button }}
  </div>
  {% endif %}
{%- endif -%}
{%- if inline_button -%}
  {%- if has_compare_btn or has_wishlist_btn -%}
    {%- if has_compare_btn -%}
      <a title="{{ 'collections.product_item.add_to_compare' | t | escape }}" data-handle="{{ product.handle }}" href="#" class="button--style3 button--cp button--icon button--square button--cp-single flex flex-align-ver flex-align-hoz distance-top-ele button--single hidden-xs hidden-sm" data-product-title="{{ product.title | escape }}" style="margin-{{ left_holder }}:10px;width:48px;height:48px;">{% render 'icon-compare' %}</a>
    {%- endif -%}
    {%- if has_wishlist_btn -%}
      {%- unless settings.wishlist_type == "growave" and settings.enable_growave %}
        <a title="{{ 'collections.product_item.add_to_wishlist' | t | escape }}" data-handle="{{ product.handle }}" href="#" class="button--style3 button--wl button--icon button--square button--wl-single flex flex-align-ver flex-align-hoz distance-top-ele button--single hidden-xs hidden-sm" data-product-title="{{ product.title | escape }}" style="margin-{{ left_holder }}:10px;width:48px;height:48px;">{% render 'icon-wishlist' %}</a>    
      {%- else -%}
        {% capture the_snippet_fave %}{% render 'socialshopwave-widget-fave' %}{% endcapture %}
        {% unless the_snippet_fave contains 'Liquid error' %}
          {{ the_snippet_fave }}
        {% endunless %}
      {%- endunless -%}
    {%- endif -%}  
  {%- endif -%}
{%- endif -%}
{%- if template.suffix != 'quick_view' -%}
  {%- assign cart_terms_for_id = 'single-page-' | append: section.id -%}
  {%- render 'cart-terms' with for_id: cart_terms_for_id, small_gutter_top: true -%}
{%- endif -%}
{%- if has_compare_btn or has_wishlist_btn -%}
<div class="gutter-top gutter-ele-bottom{% if inline_button %} hidden-md hidden-lg w100{% endif %}">
  {%- if has_compare_btn -%}
  <a title="{{ 'collections.product_item.add_to_compare' | t | escape }}" data-handle="{{ product.handle }}" href="#" class="button--cp button--cp-single dib{% if full_qty_box %} w100{% endif %}" data-product-title="{{ product.title | escape }}">{% render 'icon-compare' %}&nbsp;{{ 'collections.product_item.add_to_compare'|t }}</a>
  {%- endif -%}
  {%- if has_wishlist_btn -%}
    {%- unless settings.wishlist_type == "growave" and settings.enable_growave %}
      <a title="{{ 'collections.product_item.add_to_wishlist' | t | escape }}" data-handle="{{ product.handle }}" href="#" class="button--wl button--wl-text button--wl-single dib {% if full_qty_box %}w100 distance-top-ele{% else %}{% if has_compare_btn %}button--wl-single-distance gutter-ele-top-tbs{% endif %}{% endif %}" data-product-title="{{ product.title | escape }}">{% render 'icon-wishlist' %}&nbsp;<span class="wishlist-text">{{ 'collections.product_item.add_to_wishlist'|t }}</span></a>
    {%- else -%}
      {% capture the_snippet_fave %}{% render 'socialshopwave-widget-fave' %}{% endcapture %}
      {% unless the_snippet_fave contains 'Liquid error' %}
        {{ the_snippet_fave }}
      {% endunless %}    
    {%- endunless -%}
  {%- endif -%}
</div>
{%- endif -%}
{%- if template.suffix != 'quick_view' and section.settings.enable_shop_pay_banner -%}
<div class="gutter-ele-top gutter-ele-bottom">
  {{ form | payment_terms }}
</div>
{%- endif -%}

<select name="id" data-productid="{{ product.id }}" class="hide variant-id">
  {%- for variant in product.variants -%}
    <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
      {{ variant.title }}
    </option>
  {%- endfor -%}
</select>
{%- endform -%}
