<div class="pg__collapse-tab{% if obj.settings.show_bottom_line %} pg__collapse-tab--line{% endif %}">
	{%- if obj.settings.heading != blank -%}
		<a class="db w100 expand-trigger pg__collapse-tab__title pg__collapse-tab__title--{{ section.id }} gutter-ele-top gutter-ele-bottom{% if obj.settings.default_state == 'expand' %} open{% endif %}" href="#" rel="noreferrer" {{ obj.shopify_attributes }}>{{ obj.settings.heading }}</a>
	{%- endif -%}
	<div class="expand-content pg__collapse-tab-content rte gutter-ele-bottom"{% if obj.settings.default_state == 'collapse' and obj.settings.heading != blank %} style="display:none;"{% endif %}>
		{{ obj.settings.content }}
		{{ obj.settings.page.content }}
	</div>
</div>