{% comment %}
******************************************
	Info:
		Custom image slider for ramen subscription product

	  
    Author: Edvinas Kilbauskas
    Date created: 2021-12-02
    Included in: templates/product.subscription-product.json
******************************************
{% endcomment %}

{% capture next_arrow_html %}
  <svg style="right: 0; width: 50px; top: 87px" width="87" height="180" viewBox="0 0 87 180" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g opacity="0.8">
      <mask id="mask0_122_32" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="180" height="180">
        <circle cx="90" cy="90" r="90" transform="rotate(180 90 90)" fill="#EFBD3F"/>
      </mask>
      <g mask="url(#mask0_122_32)">
        <path d="M89.5814 181.674L-0.418587 181.674L-0.418603 -2.09312L89.5814 -2.09312L89.5814 181.674Z" fill="#E84C35"/>
      </g>
    </g>
    <path d="M34.2 134.178C32.6407 135.737 30.113 135.741 28.5496 134.185L26.8495 132.493C25.278 130.93 25.278 128.386 26.8495 126.822L58.9952 94.8354C60.5666 93.2717 60.5666 90.7283 58.9952 89.1646L26.8495 57.1775C25.2781 55.6138 25.2781 53.0704 26.8495 51.5067L28.5497 49.8149C30.1131 48.2592 32.6407 48.2626 34.2 49.8224L73.5366 89.172C75.0981 90.734 75.0981 93.266 73.5366 94.828L34.2 134.178Z" fill="#333050"/>
  </svg>
{% endcapture %}

{% capture prev_arrow_html %}
  <svg style="width: 50px; top: 87px" width="87" height="180" viewBox="0 0 87 180" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g opacity="0.8">
      <mask id="mask0_122_27" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="-93" y="0" width="180" height="180">
        <circle cx="-3" cy="90" r="90" fill="#EFBD3F"/>
      </mask>
      <g mask="url(#mask0_122_27)">
        <rect x="-2.58142" y="-77.8604" width="169.953" height="296.372" fill="#E84C35"/>
      </g>
    </g>
    <path d="M57.1636 132.178C58.7229 133.737 61.2505 133.741 62.8139 132.185L64.514 130.493C66.0855 128.93 66.0855 126.386 64.514 124.822L32.3684 92.8354C30.7969 91.2717 30.7969 88.7283 32.3684 87.1646L64.5141 55.1775C66.0855 53.6138 66.0855 51.0704 64.5141 49.5067L62.8139 47.8149C61.2505 46.2592 58.7229 46.2626 57.1636 47.8224L17.8269 87.172C16.2654 88.734 16.2654 91.266 17.8269 92.828L57.1636 132.178Z" fill="#333050"/>
  </svg>
{% endcapture %}

<div id="{{section.id}}" class="fox-hide--small">

  <div class="wrapper">

    <div class="slides">
    	<img src="https://cdn.shopify.com/s/files/1/0598/9649/6312/files/11.11.jpg?v=1638424834"/>
        <img src="https://cdn.shopify.com/s/files/1/0598/9649/6312/files/11.11.jpg?v=1638424834"/>
        <img src="https://cdn.shopify.com/s/files/1/0598/9649/6312/files/11.11.jpg?v=1638424834"/>
    </div>
      
  </div>
  <svg class="divider fox-hide--small" preserveAspectRatio="none" viewBox="0 0 1440 64" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 3L25.2397 23.534C40.0647 35.595 61.3195 35.595 76.1446 23.534V23.534C90.8733 11.5513 112.202 11.6544 127.029 23.5156V23.5156C142.035 35.5204 163.651 35.6688 178.657 23.664V23.664C193.726 11.6085 215.193 11.565 230.263 23.6205V23.6205C245.332 35.676 266.744 35.676 281.814 23.6205V23.6205C296.883 11.565 318.296 11.565 333.365 23.6205V23.6205C348.435 35.676 369.847 35.676 384.916 23.6205V23.6205C399.986 11.565 421.398 11.565 436.468 23.6205V23.6205C451.537 35.676 472.95 35.676 488.019 23.6205V23.6205C503.088 11.565 524.501 11.565 539.57 23.6205V23.6205C554.64 35.676 576.052 35.676 591.122 23.6205V23.6205C606.191 11.565 627.604 11.565 642.673 23.6205V23.6205C657.742 35.676 679.155 35.676 694.224 23.6205V23.6205C709.294 11.565 730.706 11.565 745.776 23.6205V23.6205C760.845 35.676 782.258 35.676 797.327 23.6205V23.6205C812.396 11.565 833.809 11.565 848.878 23.6205V23.6205C863.948 35.676 885.36 35.676 900.43 23.6205V23.6205C915.499 11.565 936.912 11.565 951.981 23.6205V23.6205C967.05 35.676 988.569 35.5913 1003.64 23.5358V23.5358C1018.64 11.5365 1040.01 11.2831 1055.2 23.0419L1057.21 24.6032C1072.04 36.0825 1092.84 35.744 1107.29 23.7886V23.7886C1121.92 11.6805 1143.04 11.5053 1157.87 23.3689L1158.41 23.7956C1173.35 35.7487 1194.69 35.6616 1209.63 23.7084V23.7084C1224.7 11.6529 1246.27 11.6085 1261.34 23.664V23.664C1276.35 35.6688 1297.97 35.5204 1312.97 23.5156V23.5156C1327.8 11.6544 1349.13 11.5513 1363.86 23.534V23.534C1378.68 35.595 1399.94 35.595 1414.76 23.534L1440 3" stroke="#EFBD3F" stroke-width="7"/><path d="M0 9.87354L25.2397 30.4075C40.0647 42.4686 61.3195 42.4686 76.1446 30.4075V30.4075C90.8733 18.4249 112.202 18.5279 127.029 30.3892V30.3892C142.035 42.394 163.651 42.5423 178.657 30.5375V30.5375C193.726 18.482 215.193 18.4386 230.263 30.4941V30.4941C245.332 42.5495 266.744 42.5495 281.814 30.4941V30.4941C296.883 18.4386 318.296 18.4386 333.365 30.4941V30.4941C348.435 42.5495 369.847 42.5495 384.916 30.4941V30.4941C399.986 18.4386 421.398 18.4386 436.468 30.4941V30.4941C451.537 42.5495 472.95 42.5495 488.019 30.4941V30.4941C503.088 18.4386 524.501 18.4386 539.57 30.4941V30.4941C554.64 42.5495 576.052 42.5495 591.122 30.4941V30.4941C606.191 18.4386 627.604 18.4386 642.673 30.4941V30.4941C657.742 42.5495 679.155 42.5495 694.224 30.4941V30.4941C709.294 18.4386 730.706 18.4386 745.776 30.4941V30.4941C760.845 42.5495 782.258 42.5495 797.327 30.4941V30.4941C812.396 18.4386 833.809 18.4386 848.878 30.4941V30.4941C863.948 42.5495 885.36 42.5495 900.43 30.4941V30.4941C915.499 18.4386 936.912 18.4386 951.981 30.4941V30.4941C967.05 42.5495 988.569 42.4648 1003.64 30.4094V30.4094C1018.64 18.41 1040.01 18.1566 1055.2 29.9154L1057.21 31.4768C1072.04 42.956 1092.84 42.6176 1107.29 30.6621V30.6621C1121.92 18.5541 1143.04 18.3788 1157.87 30.2424L1158.41 30.6691C1173.35 42.6223 1194.69 42.5351 1209.63 30.582V30.582C1224.7 18.5265 1246.27 18.482 1261.34 30.5375V30.5375C1276.35 42.5423 1297.97 42.394 1312.97 30.3892V30.3892C1327.8 18.5279 1349.13 18.4249 1363.86 30.4075V30.4075C1378.68 42.4686 1399.94 42.4686 1414.76 30.4075L1440 9.87354" stroke="#FFE091" stroke-width="7"/><path d="M0 16.1836L25.2397 36.7176C40.0647 48.7786 61.3195 48.7786 76.1446 36.7176V36.7176C90.8733 24.7349 112.202 24.838 127.029 36.6992V36.6992C142.035 48.704 163.651 48.8524 178.657 36.8476V36.8476C193.726 24.7921 215.193 24.7486 230.263 36.8041V36.8041C245.332 48.8596 266.744 48.8596 281.814 36.8041V36.8041C296.883 24.7486 318.296 24.7486 333.365 36.8041V36.8041C348.435 48.8596 369.847 48.8596 384.916 36.8041V36.8041C399.986 24.7486 421.398 24.7486 436.468 36.8041V36.8041C451.537 48.8596 472.95 48.8596 488.019 36.8041V36.8041C503.088 24.7486 524.501 24.7486 539.57 36.8041V36.8041C554.64 48.8596 576.052 48.8596 591.122 36.8041V36.8041C606.191 24.7486 627.604 24.7486 642.673 36.8041V36.8041C657.742 48.8596 679.155 48.8596 694.224 36.8041V36.8041C709.294 24.7486 730.706 24.7486 745.776 36.8041V36.8041C760.845 48.8596 782.258 48.8596 797.327 36.8041V36.8041C812.396 24.7486 833.809 24.7486 848.878 36.8041V36.8041C863.948 48.8596 885.36 48.8596 900.43 36.8041V36.8041C915.499 24.7486 936.912 24.7486 951.981 36.8041V36.8041C967.05 48.8596 988.569 48.7749 1003.64 36.7194V36.7194C1018.64 24.7201 1040.01 24.4667 1055.2 36.2255L1057.21 37.7868C1072.04 49.2661 1092.84 48.9276 1107.29 36.9722V36.9722C1121.92 24.8641 1143.04 24.6889 1157.87 36.5525L1158.41 36.9792C1173.35 48.9323 1194.69 48.8452 1209.63 36.892V36.892C1224.7 24.8365 1246.27 24.7921 1261.34 36.8476V36.8476C1276.35 48.8524 1297.97 48.704 1312.97 36.6992V36.6992C1327.8 24.838 1349.13 24.7349 1363.86 36.7176V36.7176C1378.68 48.7786 1399.94 48.7786 1414.76 36.7175L1440 16.1836" stroke="#EFBD3F" stroke-width="7"/><path d="M0 22.4941L25.2397 43.0281C40.0647 55.0892 61.3195 55.0892 76.1446 43.0281V43.0281C90.8733 31.0455 112.202 31.1485 127.029 43.0098V43.0098C142.035 55.0146 163.651 55.1629 178.657 43.1581V43.1581C193.726 31.1026 215.193 31.0592 230.263 43.1147V43.1147C245.332 55.1702 266.744 55.1702 281.814 43.1147V43.1147C296.883 31.0592 318.296 31.0592 333.365 43.1147V43.1147C348.435 55.1702 369.847 55.1702 384.916 43.1147V43.1147C399.986 31.0592 421.398 31.0592 436.468 43.1147V43.1147C451.537 55.1702 472.95 55.1702 488.019 43.1147V43.1147C503.088 31.0592 524.501 31.0592 539.57 43.1147V43.1147C554.64 55.1702 576.052 55.1702 591.122 43.1147V43.1147C606.191 31.0592 627.604 31.0592 642.673 43.1147V43.1147C657.742 55.1702 679.155 55.1702 694.224 43.1147V43.1147C709.294 31.0592 730.706 31.0592 745.776 43.1147V43.1147C760.845 55.1702 782.258 55.1702 797.327 43.1147V43.1147C812.396 31.0592 833.809 31.0592 848.878 43.1147V43.1147C863.948 55.1702 885.36 55.1702 900.43 43.1147V43.1147C915.499 31.0592 936.912 31.0592 951.981 43.1147V43.1147C967.05 55.1702 988.569 55.0855 1003.64 43.03V43.03C1018.64 31.0306 1040.01 30.7772 1055.2 42.536L1057.21 44.0974C1072.04 55.5766 1092.84 55.2382 1107.29 43.2827V43.2827C1121.92 31.1747 1143.04 30.9994 1157.87 42.863L1158.41 43.2897C1173.35 55.2429 1194.69 55.1557 1209.63 43.2026V43.2026C1224.7 31.1471 1246.27 31.1026 1261.34 43.1581V43.1581C1276.35 55.1629 1297.97 55.0146 1312.97 43.0098V43.0098C1327.8 31.1485 1349.13 31.0455 1363.86 43.0281V43.0281C1378.68 55.0892 1399.94 55.0892 1414.76 43.0281L1440 22.4941" stroke="#FFE091" stroke-width="7"/></svg>

</div>

<style>
  
  #{{section.id}} {
   	margin-top: -40px; 
  }
    
    #{{section.id}} .title{
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 30px;
      text-align: center;
      text-transform: uppercase;
      color: #454466; 
      margin-bottom: 0;
    }

    #{{section.id}} .divider{
      width: 102vw;
      margin-left: -15px;
      margin-top: -35px;
      position: relative;
      z-index: 2;
      height: 64px;
    }

    #{{section.id}} .wrapper{
      
    }

    #{{section.id}} .slides{
     	max-width: 1000px; 
      	margin-left: auto;
      	margin-right: auto;
    }
  
  	#{{section.id}} .slides img{
     	padding-left: 10px;
      	padding-right: 10px;
    }


</style>

<script>
  $(window).ready(function(){
    $(`#{{section.id}} .slides`).slick(
      {
       	centerMode: true,
  		centerPadding: '250px', 
        slidesToShow: 1,
        prevArrow: `{{ prev_arrow_html }}`,
        nextArrow: `{{ next_arrow_html }}`
      });
  });
  
  
  
</script>

{% schema %}
{
  "name": "Product - Slides",
  "class": "product-slides-section",
  "settings": [
   
  ],
  "presets": [
    {
      "name": "Product - Slides",
      "category": "Collection",
      "settings": {
      }
    }
  ]
}
{% endschema %}